<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>VPN Access Administration</title>
    <meta name="description" content="Administrate access to VPN" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body class="container mt-4">
    <form>
      <div class="mb-3">
        <label for="search-bar" class="form-label">Find email address</label>
        <input
          name="user search bar"
          type="text"
          placeholder="search user email"
          id="search-bar"
          class="form-control"
        /><br />
      </div>
    </form>
    <div id="table-button-bar">
      <button onclick="prevPage()" class="btn btn-primary">prev</button>
      <div class="btn btn-primary" onclick="nextPage()" class="btn btn-primary">
        next
      </div>
    </div>
    <table id="user-data-table" class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">status</th>
          <th scope="col">action</th>
        </tr>
      </thead>
      <tbody id="user-data-body"></tbody>
    </table>
  </body>
  <script>
    const authCookie = getCookie("authJwt");
    var userData;
    var tableData;
    var page = 1;
    loadUserDataBody().then((data) => {
      userData = data.users;
      tableData = userData.slice(0, 10);
      renderTable(tableData);
    });

    document
      .getElementById("search-bar")
      .addEventListener("keypress", (event) => {
        if (event.key == "Enter") {
          event.preventDefault();
          let email = document.getElementById("search-bar").value;
          findUser(email);
        }
      });

    function findUser(email) {
      let matchingUsers = userData.filter((user) => user.Email.includes(email));
      tableData = matchingUsers.slice(0, 10);
      renderTable(tableData);
    }

    function nextPage() {
      page += 1;
      let startIdx = (page - 1) * 10;
      let endIdx = startIdx + 10;

      if (startIdx >= userData.length) {
        page -= 1;
        return;
      }
      tableData = userData.slice(startIdx, endIdx);
      renderTable(tableData);
    }

    function prevPage() {
      if (page == 1) {
        return;
      }
      page -= 1;
      let startIdx = (page - 1) * 10;
      let endIdx = startIdx + 10;
      tableData = userData.slice(startIdx, endIdx);
      renderTable(tableData);
    }

    function reloadCurrentTable() {
      renderTable(tableData);
    }

    async function loadUserDataBody() {
      response = await fetch("{{.baseUrl}}/api/users", {
        headers: { Authorization: `Bearer ${authCookie}` },
      });

      if (response.status == 403 || response.status == 401) {
        window.location = "/";
      } else if (response.status != 200) {
        alert(await response.json());
      } else {
        return await response.json();
      }
    }

    async function renderTable(data) {
      const tableBody = document.getElementById("user-data-body");
      let result = "";

      for (const user of data) {
        var button;
        if (user.IsRevoked) {
          button = `<button class="btn btn-primary" onclick="reinstateUser('${user.Email}')">Reinstate</button>`;
        } else {
          button = `<button class="btn btn-danger" onclick="revokeUser('${user.Email}')">Revoke</button>`;
        }
        const status = user.IsRevoked ? "Revoked" : "Active";

        result += `
          <tr>
            <td>${user.Email}</td>
            <td id='${user.Email}-row-status'>${status}</td>
            <td id='${user.Email}-row-button'>${button}</td>
          </tr>
        `;
      }

      tableBody.innerHTML = result;
    }

    async function revokeUser(email) {
      response = await fetch(`{{.baseUrl}}/api/user/${email}`, {
        headers: { Authorization: `Bearer ${authCookie}` },
        method: "DELETE",
      });

      if (response.status == 403 || response.status == 401) {
        window.location = "/";
      } else if (response.status != 200) {
        alert(await response.text());
      } else {
        let user = userData.find((user) => user.Email == email);
        user.IsRevoked = true;
        reloadCurrentTable();
      }
    }

    async function reinstateUser(email, idx) {
      response = await fetch(`{{.baseUrl}}/api/user/${email}/reinstate`, {
        headers: { Authorization: `Bearer ${authCookie}` },
        method: "PUT",
      });

      if (response.status == 403 || response.status == 401) {
        window.location = "/";
      } else if (response.status != 200) {
        alert(await response.text());
      } else {
        let user = userData.find((user) => user.Email == email);
        user.IsRevoked = false;
        reloadCurrentTable();
      }
    }

    function getCookie(name) {
      const value = `; ${document.cookie}`;
      const parts = value.split(`; ${name}=`);
      if (parts.length === 2) return parts.pop().split(";").shift();
    }
  </script>
</html>
